body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playerTurn {
    font-size: 64px;
    text-align: center;
}

#gameBoard {
    width: 300px;
    height: 300px;
    position: relative;
    margin-top: 100px;
}

.board {
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
    font-size: 90px;
    font-weight: bolder;
}

.top {
    bottom: 200px;
}

.mid {
    border-left: 2px solid black;
    border-right: 2px solid black;
    right: 100px;
}

.bot {
    top: 200px;
}

.left {
    right: 200px;
}

.cent {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    top: 100px;
}

.right {
    left: 200px;
}

#reset {
    margin: 16px;
    font-size: 32px;
    border-radius: 5px;
}